

/* Modal Img */

.modal {
  display: none;
  position: absolute;
  z-index: 9000;
  padding: 50px;
  left: 30%;
  width: 50%;
  height: 100vh;
  overflow: hidden;
/*  background-color: rgba(0,0,0,0.1);*/
}

.modal-content {
  margin: auto;
  display:block;
  width: 80%;
  max-width: 700px;
}

#caption {
  display: block;
  max-width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-family: var(--font-family2);
}


/* Modal Animation */

.modal-content {
  width: 70vh;
  height: 70vh;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* Cerrar */
.close {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: rgba(0,0,0,0.1);
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 500px){
  .modal-content {
    width: 222px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 20%;
    top: 5%;
  }
}*/